* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: white;
}

:root {
  font-size: 62.5%;
  --bc-body: #7C3AED;
  --bc-main: #FBFAFF;
  
  --ff-nav: 'Inter', sans-serif;
  --fc-nav: #CAB3FF;
  --fc-nav-hover: #FFFFFF;

  --fc-titles-main: #403937;
  
}

body {
  font-size: 1.6rem;
  background: var(--bc-body);
}

.app{
  display: grid;
  grid-template-columns: max-content 1fr;
  min-height: 100vh;
}

nav{
  padding: 3.2rem 2.7rem 0 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 6rem;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

nav ul li a, nav ul li a svg {
  fill: var(--fc-nav);
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-family: var(--ff-nav);
  font-weight: 1.6rem;
  font-weight: 700;
  color: var(--fc-nav);
  transition: all 850ms;
}

nav ul li a:hover, nav ul li a:hover svg {
  color: var(--fc-nav-hover);
  fill: var(--fc-nav-hover);
}


main{
  background: var(--bc-main);
  border-top-left-radius: 3.2rem;
  margin-top: 0.4rem;
}

